body {
    background-color: #000000;
    color: #ffc0cb;
  }
  
  header {
    background-color: #212121;
    color: #ffc0cb;
  }
  
  nav {
    background-color: #121212;
  }
  
  .navbar-brand, .nav-link {
    color: #ffc0cb !important;
  }
  
  h1, h2 {
    color: #ffc0cb;
  }
  
  footer {
    background-color: #121212;
    color: #ffc0cb;
  }
  